<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">

        <div *ngIf="EmptyState; then NoTimer"> </div>
        <ng-template #NoTimer>
          <div class="card-header">
            <strong>Add a timer</strong>
          </div>
          <div class="card-body">
            <button (click)="addTimer()" class="btn btn-primary" type="button"> Add Timer</button>
          </div>
        </ng-template>

        <div *ngIf="SetState; then inputTimer"></div>
        <ng-template #inputTimer>
          <div class="card-header">
            <input class="form-control" type="text" name="TimerName" [(ngModel)]="clockTimer.name" placeholder="Timer Label">
          </div>
          <div class="card-body">
            <input class="form-control" type="number" name="TimerSeconds" [(ngModel)]="clockTimer.Remainingtime" placeholder="Seconds">
            <button (click)="createTimer()" class="btn btn-primary" type="button">Set</button>
          </div>
        </ng-template>

        <div *ngIf="DisplayState; then DisplayTimer"></div>
        <ng-template #DisplayTimer>
          <div class="card-header">
            <strong>{{clockTimer.name}}</strong>
          </div>
          <div class="card-body text-center" >
            <h3> {{time}}</h3>
            <div *ngIf="StartState; then TimerStopped"></div>
            <ng-template #TimerStopped>
              <button (click)="startTimer()" class="btn btn-primary" type="button">Start</button>
            </ng-template>

            <div *ngIf="StopState; then TimerStarted"></div>
            <ng-template #TimerStarted>
              <button (click)="stopTimer()" class="btn btn-danger" type="button">Stop</button>
            </ng-template>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>