<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>New Todo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Title" value="" [(ngModel)]="todo.title">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Body" [(ngModel)]="todo.body"></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="addTodo()">Save</button>
    </mat-card-actions>
</mat-card>